@font-face {
    font-family: Lexend Deca;
    src: url(fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
    font-weight: 400;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Lexend Deca;
}


header {
    background-color: hsl(0, 0%, 95%);
    height: 54px;
    padding: 16px 30px;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

main {
    background-color: hsl(0, 0%, 95%);
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    background-color: rgb(26, 28, 40);
    height: 600px;
    width: 800px;
    gap: 15px;
    padding: 50px;
}

.one {
    background-color: rgb(235, 80, 32);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.two {
    background-color: rgb(255, 164, 1);
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}

.three {
    background-color: rgb(5, 170, 66);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}

.four {
    background-color: rgb(1, 174, 253);
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}

.five {
    background-color: rgb(1, 174, 253);
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
}